<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <!-- include **/appLog*log* in global gitignore file
         to avoid below log files showing up in git -->
    <property name="log.path" value="log"/>
    <property name="log.filename.prefix" value="appLog"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- logs folder created in user.dir folder,
         value is printed by calling System.getProperty("user.dir")
    	 if you want see this property for a running jvm process, then do the following
    	  - execute command "jps -lm" and identify the pid of the server process
    	  - execute command "jcmd <SERVER PROCESS PID> VM.system_properties" to see the properties
    -->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} || [%thread] || %-5level || %logger{36} || %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${log.filename.prefix}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/archive/year_%d{yyyy, aux}/month_%d{MM, aux}/${log.filename.prefix}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 1GB, it will delete old archived file -->
            <totalSizeCap>1GB</totalSizeCap>
            <!-- 3653 days (10 years) to keep -->
            <maxHistory>3653</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} || [%thread] || %-5level || %logger{36} || %msg%n</pattern>
        </encoder>
    </appender>

    <springProperty scope="context" name="application_name" source="spring.application.name"/>

    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- remove log related properties in application.yaml and application-test.yaml files
         of application for below log level setting to be honored -->
    <springProfile name="!(local | dev | test | test_common)">
        <root level="INFO">
<!--        <appender-ref ref="jsonConsoleAppender" />   -->
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE-ROLLING" />
        </root>
    </springProfile>

    <!-- prod profile specific configuration -->
    <springProfile name="prod | production">
        <root level="WARN">
            <!-- appenders included in the first spring profile tag, if included here,
                 then it will lead to duplicate logs with json format and console format-->
            <!--
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE-ROLLING" />
            -->
        </root>
    </springProfile>

    <springProfile name="local | dev | test | test_common">
        <root level="DEBUG">
<!--    <root level="TRACE"> -->
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE-ROLLING" />
        </root>
    </springProfile>

</configuration>